<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
  <title>day sentence</title>
  <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>public/favicon.ico" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
